*{
    background-color: bisque;
    padding: 0;
    margin: 0;
}



.container{
    color: black;
    width:500px;
    text-align: center;
    border: 1px solid red;
    margin-top:2rem;
    margin-left: 25rem;
    height: 800px;
    background-color: transparent;
}
h1{
    color: blue;
}

